.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 10px;
    grid-template-rows: 320px  70px repeat(2, 1fr);
  }
  
  .header {
    grid-column: 1;
    grid-row: 1;
  }
  
  #us-map {
    grid-column: 3;
    grid-row: 1;
  }
  
  /*
  #map-buttons {
    grid-column: 1;
    grid-row: 2;
  }
  */
  
  #county-map {
    grid-column: 1;
    grid-row: 3;
  }
  
  #scatter-plot {
    grid-column: 2;
    grid-row: 2/4;
  }
  
  #poi-line-div {
    grid-column: 3;
    grid-row: 3;
  }
  
  #poi-bar-div {
    grid-column: 3;
    grid-row: 4;
  }
  
  #line1 {
    grid-column: 1;
    grid-row: 4;
  }
  
  #line2 {
    grid-column: 2;
    grid-row: 4;
  }

  #poi-legend {
    grid-column: 3;
    grid-row: 2;
  }

  #color-legend {
    grid-column: 1;
    grid-row: 2;
  }
  #line-legend {
    grid-column: 1;
    grid-row: 4;
  }